{% extends "KB/main.html" %}

{% load customtags %}

{% block content %}

<form name="form" id="form" action="." method="post">{% csrf_token %}
<div class="box widget">
<h2>Wizard trouwen ({{ step }} van {{ step_count }})</h2>
<p>Gegevens huwelijk</p>
<div class="form_row">{{ form.dtmhuwelijksdatum|generate:"fixed" }} </div>
<div class="form_row">{{ form.dtmdatumhuwelijksbevestiging|generate:"fixed" }} {{ form.idhuwelijksgemeente|generate }} </div>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
</div>
<br class="clear"/>
<input type="submit" id="submitButton" value="Volgende">
</form>

{% endblock %}

