{% extends "KB/main.html" %}

{% load customtags %}

{% block content %}

<div class="box widget">
<h2>Wizard trouwen ({{ step }} van {{ step_count }})</h2>
<p>Met wie gaat {{ persoonA }} trouwen?</p>
<form name="form" id="form" action="." method="post">{% csrf_token %}
<input type="hidden" id="persoonA" value="{{persoonA}}"/>
{{ form.isNew|generate:"fixed" }}<input type="text" style="display:none" id="searchField" size="30" onChange="update()"/>
<br class="clear"/>

<div id="persoonDetails" {% if form.errors %}style="display: none"{% endif %}>
{{ form.idpersoonB }}
{{ form.txtachternaam|generate:"fixed" }} {{ form.txttussenvoegsels|generate }} {{ form.idgeslacht|generate }}<br class="clear"/>
{{ form.txtroepnaam|generate:"fixed" }} {{ form.txtvoorletters|generate }}<br class="clear"/>
{{ form.idlidmaatschapvorm|generate:"fixed" }}<br class="clear"/>
</div>

<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<input type="button" id="submitButton" onClick="submitForm()" value="Volgende">
<br class="clear"/>
</form>
</div>

<script type="text/javascript">

function submitForm() {
	$('#persoonDetails :input').removeAttr('disabled');
	document.form.submit();
}

function update() {
	var isNew = $("form input[name='{{form.isNew.html_name}}']").fieldValue();

	if (isNew == "") {
		$("#persoonDetails").hide();
		$("#submitButton").attr("disabled", true);
	} else if (isNew == 1) {
		$("#persoonDetails").show();
		$("#searchField").hide();
		$("#submitButton").removeAttr('disabled');
		$('#persoonDetails :input').removeAttr('disabled');
	} else {
		$('#persoonDetails :input').attr('disabled', true);
		$("#persoonDetails").show();
		$("#searchField").show().focus();
		if (!$("#id_{{ form.idpersoonB.html_name }}").val()) {
			$("#submitButton").attr("disabled", true);
		} else {
			$("#submitButton").removeAttr('disabled');
		}
	}	
}

function toggleIsNew() {
	var isNew = $("form input[name='{{form.isNew.html_name}}']").fieldValue();

	// Check which option the user selected, 'new persoon' or 'existing'
	if (isNew == 1) {
		// New. Clear search field.
		$("#searchField").val("");
		// Clear persoon details form (might contain results from search field)
		resetForm("#persoonDetails");
	} else {
		// Existing. Check if search field already contains a value.  
		if (!$("#id_{{ form.idpersoonB.html_name }}").val()) {
			// Search field doesn't contain a value, clear persoon details form
			resetForm("#persoonDetails");
		}
	}

	update();
}

function selectName(event, ui) {
	$("{{form.idpersoonB|id}}").val(ui.item.idpersoon);
	$("{{form.txtachternaam|id}}").val(ui.item.txtachternaam);
	$("{{form.txttussenvoegsels|id}}").val(ui.item.txttussenvoegsels);
	$("{{form.txtroepnaam|id}}").val(ui.item.txtroepnaam);
	$("{{form.txtvoorletters|id}}").val(ui.item.txtvoorletters);
	$("{{form.idgeslacht|id}}").val(ui.item.idgeslacht);
	$("{{form.idlidmaatschapvorm|id}}").val(ui.item.idlidmaatschapvorm);
	update();
}

$(document).ready(function(){
	$("#searchField").autocomplete({source:"/query/persoon",
									minLength: 2,
									select: selectName});

	$("form input[name='{{form.isNew.html_name}}']").click(toggleIsNew);		

	update();

});
</script>

{% endblock %}

