{% extends "KB/main.html" %}

{% load customtags %}

{% block content %}

<form name="form" id="form" action="." method="post">
<div class="box widget form">
<h2>Wizard lidmaatschap wijzigen ({{ step }} van {{ step_count }})</h2>
<p>Kies het type attestatie:</p>
{% csrf_token %}
<div class="form_row">{{ form.certificateType|generate:"fixed" }}</div>
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
</div>
<br class="clear"/>
<input type="button" id="submitButton" onClick="submitForm()" value="Volgende">
</form>

<script type="text/javascript">

function submitForm() {
	document.form.submit();
}

$(document).ready(function(){

});
</script>

{% endblock %}

