{% extends "KB/main.html" %}

{% load customtags %}

{% block content %}

<div class="box widget">
<h2>Wizard lidmaatschap wijzigen ({{ step }} van {{ step_count }})</h2>
<p>Attestatie:</p>
<div id="certificate">{{ form.certificate|safe }}</div>
<form name="form" id="form" action="." method="post">
{% csrf_token %}
<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<input type="button" id="submitButton" onClick="submitForm()" value="Voltooien">
<br class="clear"/>
</form>
</div>

<script type="text/javascript">

function submitForm() {
	document.form.submit();
}

$(document).ready(function(){

});
</script>

{% endblock %}

