{% comment %}

This template is a generic HTML5 template.

{% endcomment %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block title %}
		<title>NWonline - Kerkelijk Bureau</title> 
		{% endblock %}
		<link href="/media/style/cupertino/jquery-ui.css" rel="stylesheet" type="text/css"/>
		<script src="/media/js/jquery.min.js"></script>
		<script src="/media/js/jquery-ui.min.js"></script>
		<script src="/media/js/jquery.form.js"></script>
		<script type="text/javascript" src="/media/js/jquery.text-overflow.min.js"></script> 
		<link rel="stylesheet" type="text/css" href="/media/style/base.css" />  
		<link rel="stylesheet" type="text/css" href="/media/style/overflow.css" /> 
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
		<div id="top">
			<span>NWonline - Kerkelijk Bureau</span>
			{% if user.is_active %}
			<span id="user">Welkom, {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}.
			{% if user.is_staff %}<a href="/admin" target="_new">onderhoud</a> |{% endif %}
			<a href="/logout">log uit</a>
			</span>
			
			{% endif %}
		</div>    	
		</header>
		<div id="main">
    	<div id="loading"><img src="/media/img/ajax-loader.gif" border="0"/></div>

		<script type="text/javascript">
		
		$(document).ready(function(){
		
			// Create ajax start function. It will disable input fields and displays the 
			// load icon during ajax calls.
			$("#loading").ajaxStart(function() {
				$(this).show();		
			});
		
			// Create ajax complete function. Enables the input fields again and hides
			// the load icon when ajax calls are finished.
			$("#loading").ajaxComplete(function() {
				$(this).hide();
			});
		});
		
		</script>
		{% block body %}{% endblock %}
    	</div>

    </body>
</html>

