{% comment %}

This template is a generic HTML5 template.

{% endcomment %}

{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block title %}
		<title>NWonline - Kerkelijk Bureau</title> 
		{% endblock %}
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/cupertino/jquery-ui.css" type="text/css" media="all" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
		<script src="/admin/media/js/admin/RelatedObjectLookups.js" type="text/javascript"></script> 
		<script src="/media/js/jquery.form.js"></script>
		<script src="/media/js/jquery.ajaxqueue.js"></script>
		<script src="http://jqueryui.com/ui/jquery.ui.widget.js"></script>
		<script src="http://jqueryui.com/ui/jquery.ui.position.js"></script>
		<script src="http://jqueryui.com/ui/jquery.ui.button.js"></script>
		<script type="text/javascript" src="/media/js/jquery.text-overflow.min.js"></script> 
		<link rel="stylesheet" type="text/css" href="/media/style/base.css" />  
		<link rel="stylesheet" type="text/css" href="/media/style/overflow.css" /> 
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header>
		<div id="top">
			<span>NWonline - Kerkelijk Bureau</span>
			<span id="version">dev</span>
			{% if user.is_active %}
			<span id="user">Welkom, {% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}.
			{% if user.is_staff %}<a href="/admin" target="_new">onderhoud</a> |{% endif %}
			<a href="/logout">log uit</a>
			</span>
			
			{% endif %}
		</div>    	
		</header>
		<div id="main">
    	<div id="loading"><img src="/media/img/ajax-loader.gif" border="0"/></div>

		<script type="text/javascript">
		
		$(document).ready(function(){
		
			// Create ajax start function. It will disable input fields and displays the 
			// load icon during ajax calls.
			$("#loading").ajaxStart(function() {
				$(this).show();		
			});
		
			// Create ajax complete function. Enables the input fields again and hides
			// the load icon when ajax calls are finished.
			$("#loading").ajaxComplete(function() {
				$(this).hide();
			});
		});
		
		function select_autocomplete(idsearchfield, idselect) {
			// Extract object array from select options
			var options = [];
			$(idselect + " option").each(function(i){
				options[i] = {"id": $(this).val(), "value": $(this).text()};
		    });
			
			// Autocomplete
			$(idsearchfield).autocomplete({source: options,
										   select: function(event, ui) { $(idselect).val(ui.item.id); },
										   create: function(event, ui) { $(idsearchfield).val($(idselect + " :selected").text()); }});
			
			
		}

		
		
		</script>
		{% block body %}{% endblock %}
    	</div>

    </body>
</html>

