{% extends "KB/main.html" %}

{% block content %}

{% load customtags %}

<div class="box widget">
	<h3>Aantal leden</h3>
	<table border="0" cellpadding="0" cellspacing="0">
	<tr><td style="vertical-align: top">
	<table id="stats" border="0" cellpadding="3" cellspacing="0" class="listview" style="width: auto">
	<thead class="ui-widget-header">
	    <tr>
	    	<th>Lidmaatschap</th>
			<th>Aantal</th>
	    </tr>
	</thead>
	<tbody>
	    {% for stat in stats %}
	    <tr><td>{{ stat.label }}</td><td>{{ stat.value }}</td></tr>
	    {% endfor %}
	    <tr><td><strong>{{ total.label }}</strong></td><td><strong>{{ total.value }}</strong></td></tr>
	</tbody>
	</table>
	</td>
	<td>
	<div id="chart"><img src="/media/img/ajax-loader-dark.gif" style="position: relative; top: -3em; left: 15em" border="0"/></div>
	</td></tr>
	</table>
</div>
<div id="export_widget" class="box widget right-widget">
<h3>Exporteren</h3>
<div id="export" class="accordion">
	<h3><a href="#">Ledenlijst</a></h3>
	<div>
		<p>Deze lijst bevat de gegevens van alle actieve leden.</p> 
		<form name="members" action="members" method="POST">
		{% csrf_token %}
		<p class="clear">Type: <img src="/media/img/excel.gif" border="0"></p>
		<input type="submit" value="Genereer"/>
		</form>
	</div>
	<h3><a href="#">Verjaardagen</a></h3>
	<div>
		<p>Deze lijst bevat alle actieve leden die in de gegeven periode jarig zijn, gegroepeerd op maand.</p>
		<form name="birthdays" action="birthdays" method="POST">
		{% csrf_token %}
		{{ birthdays_form.date_from|generate:"fixed" }}{{ birthdays_form.date_to|generate }}<br class="clear"/>
		{{ birthdays_form.category|generate:"fixed" }}
		<p class="clear">Type: <img src="/media/img/word.gif" border="0"></p>
		<input type="submit" value="Genereer"/>
		</form>
	</div>
	<h3><a href="#">Stemlijst</a></h3>
	<div>
		<p>De stemlijst bevat alle actieve belijdende leden, gegroepeerd op huishouden.</p> 
		<p>Type: <img src="/media/img/word.gif" border="0"></p>
		<form name="election" action="election" method="POST">
		{% csrf_token %}
		<input type="submit" value="Genereer"/>
		</form>
	</div>
	<h3><a href="#">E-mailadressen</a></h3>
	<div>
		<p>
		Deze lijst bevat de e-mailadressen van alle actieve leden.
		</p>
		<form name="email" action="email" method="POST">
		{% csrf_token %}
		<input type="submit" value="Genereer"/>
		</form>
	</div>
	<h3><a href="#">Update geloofhet.nl</a></h3>
	<div>
		<p>
		Exporteer de ledengegevens naar geloofhet.nl.
		</p> 
		<div id="progressbar"></div>
		<div id="progressmessage" class="small"></div>
		<p>
		<input id="button_export" type="submit" value="Exporteer" onClick="exportGeloofhet();"/>
		</p>
	</div>
</div>
</div>

<script type="text/javascript">
var refreshIntervalId;

$(document).ready(function() {
	$("#export_widget").show();
    $("#export").accordion({ collapsible: true })
    $("#export").accordion("activate", false);
    //$("#progressbar").progressbar({ value: 0 });
  });

function exportGeloofhet() {
	$("#button_export").attr('disabled', true);
	$("#progressmessage").text("Bezig...").removeClass("message");
	
	$.get("update",
		function(data){
			$("#progressmessage").text(data.result_message);
			if (!data.result) {
				$("#progressmessage").addClass("message");
			}
			$("#button_export").attr('disabled', false);
			if (refreshIntervalId) {
				clearInterval(refreshIntervalId);
			}
		}
		, "json");
	
	//refreshIntervalId = setInterval(retrieveProgress, 5000);
	
}

function retrieveProgress() {
	$.get("progress",
		function(data) {
			alert(data);
			if (data != null) {
				$("#progressbar").progressbar({ value: data.progress });
				$("#progressmessage").text(data.message);
			}
		},
		"json");
}
 
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Lidmaatschap');
    data.addColumn('number', 'Aantal');
    data.addRows({{stats|length}});
    {% for stat in stats %}
    data.setValue({{ forloop.counter0 }}, 0, "{{ stat.label }}");
    data.setValue({{ forloop.counter0 }}, 1, {{ stat.value }});
   	{% endfor %}

    var chart = new google.visualization.PieChart(document.getElementById('chart'));
    $("#chart").hide();
    chart.draw(data, {
    	width: 400, 
    	height: 250, 
    	backgroundColor: '#f2f5f7',
    	chartArea: {left:60,top:0,width:"80%",height:"80%"},
    	title: 'Verdeling'});
    $("#chart").fadeIn("slow");
  }
</script>

{% endblock %}