<table cellpadding="0" cellspacing="0" class="listview">
	<tr>
		<th>Roepnaam</th>
		<th>Rol</th>
    	<th>Status</th>
    	<th>Geboortedatum</th>
    	<th>Geslacht</th>
    	<th>Telefoon</th>
    	<th>E-mailadres</th>
    </tr>
	{% if persoonList %}
	    {% for persoon in persoonList  %}
		    <tr>
		        <td><a href="/leden/gezin/persoon/{{ persoon.idpersoon }}/">{{ persoon.txtroepnaam }}</a></td>
		        <td>{{ persoon.idgezinsrol }}</td>
		        <td>{{ persoon.idlidmaatschapstatus }}</td>
		        <td>{{ persoon.dtmgeboortedatum|date }}</td>
		        <td>{{ persoon.idgeslacht }}</td>
		        <td>{{ persoon.txttelefoonnummer }}</td>
		        <td>{{ persoon.txtemailadres }}</td>
		    </tr>
	    {% endfor %}
	{% else %}
	    <tr>
	    	<td colspan="5">Geen personen.</td>
	    </tr>
	{% endif %}	    
</table>