{% extends "KB/main.html" %}

{% block content %}

{% load customtags %}

<div class="detail_header">
	<div class="title">
		{% if formState == "ADD" or gezinForm.errors %}
		<h2>Gezin toevoegen</h2>
		{% else %}
		<h2>Fam. {{ gezinForm.instance.txtgezinsnaam }}</h2>
		{% endif %}
	</div>
	<div class="status">
		{% if gezinForm.instance.idgezin %}
		<span><a href="/wizard/membership/gezin/{{gezinForm.instance.idgezin}}/">Lidmaatschap</a></span>
		<br class="clear"/>
		{% endif %}	
	</div>
</div>

<div id="detail" class="container">

<form name="gezinForm" id="gezinForm" action="" method="post">
<input type="hidden" name="idgezin" id="idgezin" value="{{gezinForm.instance.idgezin}}"/>
{% if gezinForm.errors %}
<input type="hidden" name="gezinFormHasErrors" id="gezinFormHasErrors" value="1"/>
{% else %}
<input type="hidden" name="gezinFormHasErrors" id="gezinFormHasErrors" value="0"/>
{% endif %}
{{ gezinForm.txtgezinsnaam|generate:"fixed" }}<br class="clear"/>
{{ gezinForm.txtstraatnaam|generate:"fixed" }} {{ gezinForm.inthuisnummer|generate }} {{ gezinForm.txthuisnummertoevoeging|generate }}<br class="clear"/>
{{ gezinForm.txtpostcode|generate:"fixed" }} {{ gezinForm.txtplaats|generate }}	{{ gezinForm.idland|generate }}<br class="clear"/>
{{ gezinForm.txttelefoon|generate:"fixed" }}<br class="clear"/>
{{ gezinForm.txtopmerking|generate:"fixed" }}<br class="clear"/>
<input type="submit" class="button" id="buttonSaveGezinForm" value="Opslaan"/> 
<input type="button" id="buttonModifyGezinForm" class="button" value="Wijzigen" onclick="modifyGezinForm()"/>
<input type="button" id="buttonCancelGezinForm" class="button" value="Annuleren" onclick="cancelGezinForm()"/>
</form>

<br class="clear"/>

</div> <!-- detail -->

<div class="detail_header">
	<div class="status">
		{% if gezinForm.instance.idgezin %}
		<span><a href="persoon/add">Nieuw persoon</a></span>
		<br class="clear"/>
		{% endif %}
	</div>
</div>

{% include "KB/gezinPersoonList.html" %}

<script language="javascript">
var formState = "{{formState}}";

function update() {
	if (formState == "VIEW") {
		// Disable form inputs
		$('#gezinForm :input').attr('disabled', true);
		// Check if form is bound to gezin
		if ($('#idgezin').val() != "None")
			// Bound, enable 'Modify' button
			$('#buttonModifyGezinForm').removeAttr('disabled');
	}

	if (formState == "MODIFY"
		|| formState == "ADD") {
		// Enable form inputs
		$("#detail :input").removeAttr("disabled");
		// Enable/disable buttons
		$("#buttonModifyGezinForm").attr("disabled", true);	
		$("#buttonCancelGezinForm").removeAttr('disabled');
	}	
}

function modifyGezinForm() {
	formState = "MODIFY";
	update();
}

function cancelGezinForm() {
	window.location = "{{cancelRedirect}}";
}

$(document).ready(function(){
	update();
});


</script>

{% endblock %}

