    {% if page.object_list %}
    <table cellpadding="0" cellspacing="0" class="listview" id="persoonListTable">
    <tr>
    	<th class="col_surname"><a href="javascript:orderBy('txtachternaam')">Achternaam</a></th>
    	<th class="col_name"><a href="javascript:orderBy('txtroepnaam')">Roepnaam</a></th>
    	<th class="col_birth"><a href="javascript:orderBy('dtmgeboortedatum')">Geboortedatum</a></th>
    	<th class="col_gender"><a href="javascript:orderBy('idgeslacht')">Geslacht</a></th>
    	<th class="col_family"><a href="javascript:orderBy('idgezin__txtgezinsnaam')">Huishouden</a></th>
    	<th class="col_family_link">&nbsp;</th>
    	<th class="col_address"><a href="javascript:orderBy('idgezin__txtstraatnaam')">Adres</a></th>
    	<th class="col_zip"><a href="javascript:orderBy('idgezin__txtpostcode')">Postcode</a></th>
    	<th class="col_city"><a href="javascript:orderBy('idgezin__txtplaats')">Plaats</a></th>
    	<th class="col_country"><a href="javascript:orderBy('idgezin__idland__txtlandnaam')">Land</a></th>
    	<th class="col_phone"><a href="javascript:orderBy('txttelefoonnummer')">Telefoon</a></th>
    	<th class="col_email"><a href="javascript:orderBy('txtemailadres')">E-mailadres</a></th>
    </tr>
    {% for persoon in page.object_list  %}
    <tr>
        <td><a href="/leden/gezin/persoon/{{ persoon.idpersoon }}/">{{ persoon.txtachternaam }} {{ persoon.txttussenvoegsels }}</a></td>
        <td>{{ persoon.txtroepnaam|safe }}</td>
        <td>{{ persoon.dtmgeboortedatum }}</td>
        <td>{{ persoon.idgeslacht }}</td>
        <td><a href="/leden/gezin/{{ persoon.idgezin.idgezin }}/">{{ persoon.idgezin.txtgezinsnaam }}</a></td>
        <td><a href="/leden/gezin/{{ persoon.idgezin.idgezin }}/"><img border="0" alt="Direct naar gezin" style="float: right" src="/media/img/gotofamily.gif"></a></td>
        <td class="ellipsis">{{ persoon.idgezin.txtstraatnaam }} {{ persoon.idgezin.inthuisnummer }}{{ persoon.idgezin.txthuisnummertoevoeging }}</td>
        <td>{{ persoon.idgezin.txtpostcode }}</td>
        <td>{{ persoon.idgezin.txtplaats }}</td>
        <td>{{ persoon.idgezin.idland }}</td>
        <td>{{ persoon.txttelefoonnummer }}</td>
        <td>{{ persoon.txtemailadres }}</td>
    </tr>
    {% endfor %}
    </table>
	
	<div class="pagination">
	    <span class="step-links">
	    	{% if page.has_previous %}
	            <a href="javascript:updateListPage({{ page.previous_page_number }})">< vorige</a>
	        {% endif %}
	
	        <span class="current">
	            Pagina {{ page.number }} van {{ page.paginator.num_pages }} ({{ page.paginator.count }}).
	        </span>
	
	        {% if page.has_next %}
	            <a href="javascript:updateListPage({{ page.next_page_number }})">volgende ></a>
	        {% endif %}
	    </span>
	</div>
	{% else %}
	<p>Geen resultaten gevonden.</p>
	{% endif %} 

