{% extends "KB/main.html" %}

{% block content %}

<div id="container">

<div class="actions">
<div id="search">
<input type="text" id="searchBox"/>
<img style="padding: 3px" src="/media/img/search_small.png" border="0"/> <a href="search/">uitgebreid</a>
</div>
<div id="buttons">
<a href="gezin/add">Nieuw gezin</a>
</div>
<div class="clear"></div>
</div>

<div id="list">
<!-- Updated by updateList() -->
{% include "KB/persoonListTable.html" %}
</div>

</div>

<script type="text/javascript">

var order_by = '';
var page = 1;

function orderBy(column) {
	// Toggle ascending/descending
	if (order_by == column) {
		// Switch to descending
		order_by = "-" + column;
	} else {
		// Otherwise ascending
		order_by = column;
	}

	// Update list with new order
	updateList();
}

function retrieveList() {
	filter = $("#searchBox").val();
	$.ajaxQueue({
		url:"/leden/?xhr",
		async:true,
		data:{
			filter: filter,
			order_by: order_by,
			page: page},
		success: function(data) {
				$('#list').html(data)
				// write contents of the table cells to the title attribute of the td, so you can see the full contents on mouse over  
				$('#persoonListTable td').each(function() { 
					this.title = $(this).text(); 
				}); 		
			}
		});/*
		function(data,txtstatus,jqxhr) {
			//if (filter!=$("#searchBox").val()) {
				//alert('error!'+filter)
			//	return false;
			//}
			alert(jqxhr);
			cur=$('#textarea').val()
			$('#textarea').val(cur+"\r\n"+filter+'-'+$("#searchBox").val());
			//alert()

		});*/
}

function updateList() {
	$.ajaxQueue({
		url:"/leden/?xhr",
		async:true,
		data:{
			order_by: order_by,
			page: page},
		success: function(data) {
				$('#list').html(data)
				// write contents of the table cells to the title attribute of the td, so you can see the full contents on mouse over  
				$('#persoonListTable td').each(function() { 
					this.title = $(this).text(); 
				}); 
			});
}

function updateListPage(newPage) {
	page = newPage;
	updateList(); 
}

$(document).ready(function(){
	// Enable live filtering in search box
	$("#searchBox").keyup(retrieveList);

	//test
});

 
</script>
<textarea id="textarea"></textarea>
{% endblock %}