{% extends "KB/main.html" %}

{% comment %}

Template for advanced search page

{% endcomment %}

{% block content %}

{% load customtags %}

<div class="container">
<h2>Uitgebreid zoeken</h2>
<form name="form" id="form" action="." method="post">
{{ persoonSearchForm.idgezinsrol|generate:"fixed" }}<br class="clear"/>
{{ persoonSearchForm.txtachternaam|generate:"fixed" }} {{ persoonSearchForm.txttussenvoegsels|generate }}<br class="clear"/>
{{ persoonSearchForm.txtvoorletters|generate:"fixed" }} {{ persoonSearchForm.txtroepnaam|generate }} {{ persoonSearchForm.txtdoopnaam|generate }}<br class="clear"/>
{{ persoonSearchForm.dtmgeboortedatumvan|generate:"fixed" }} {{ persoonSearchForm.dtmgeboortedatumtot|generate }}<br class="clear"/>
{{ persoonSearchForm.idlidmaatschapstatus|generate:"fixed" }} {{ persoonSearchForm.idlidmaatschapvorm|generate }}<br class="clear"/>
<input type="submit" value="Zoek"/>
<br class="clear"/>
</form>

<div id="list">
<!-- Updated by updateList() -->
<div>{{count}}</div>
{% include "KB/persoonListTable.html" %}
</div>

</div>

<script type="text/javascript">

var order_by = '';
var page = 1;

function orderBy(column) {
	// Toggle ascending/descending
	if (order_by == column) {
		// Switch to descending
		order_by = "-" + column;
	} else {
		// Otherwise ascending
		order_by = column;
	}

	// Update list with new order
	updateList();
}

function updateList() {
	$.get("/leden/update?xhr", {order_by: order_by,
		                        page: page},
			function(data) {
				$('#list').html(data)
				// write contents of the table cells to the title attribute of the td, so you can see the full contents on mouse over  
				$('#persoonListTable td').each(function() { 
					this.title = $(this).text(); 
				}); 
			});
}

function updateListPage(newPage) {
	page = newPage;
	updateList(); 
}

$(document).ready(function(){
	// Create ajax start function. It will disable input fields and displays the 
	// load icon during ajax calls.
	$("#loading").ajaxStart(function() {
		$(this).show();		
	});

	// Create ajax complete function. Enables the input fields again and hides
	// the load icon when ajax calls are finished.
	$("#loading").ajaxComplete(function() {
		$(this).hide();
	});

	$("#id_dtmgeboortedatumvan").datepicker({ dateFormat: 'dd-mm-yy' });
	$("#id_dtmgeboortedatumtot").datepicker({ dateFormat: 'dd-mm-yy' });
});
</script>

{% endblock %}