{% extends "KB/main.html" %}

{% block content %}

{% load customtags %}

<div id="container">

<form name="form" id="form" action="." method="post">

<div class="actions">
<div id="search">
<input type="text" name="filter" id="searchBox"/>
<img style="padding: 3px" src="/media/img/search_small.png" border="0"/> <a href="#" id="extended_search">uitgebreid</a>
</div>
<div id="buttons">
<a href="gezin/add">Nieuw gezin</a>
</div>
<div class="clear"></div>
</div>

<div class="status" id="extended_search" style="display:none">
{{ persoonSearchForm.idgezinsrol|generate:"fixed" }}<br class="clear"/>
{{ persoonSearchForm.txtachternaam|generate:"fixed" }} {{ persoonSearchForm.txttussenvoegsels|generate }}<br class="clear"/>
{{ persoonSearchForm.txtvoorletters|generate:"fixed" }} {{ persoonSearchForm.txtroepnaam|generate }} {{ persoonSearchForm.txtdoopnaam|generate }}<br class="clear"/>
{{ persoonSearchForm.dtmgeboortedatumvan|generate:"fixed" }} {{ persoonSearchForm.dtmgeboortedatumtot|generate }}<br class="clear"/>
{{ persoonSearchForm.idlidmaatschapstatus|generate:"fixed" }} {{ persoonSearchForm.idlidmaatschapvorm|generate }}<br class="clear"/>
{{ persoonSearchForm.idwijk|generate:"fixed" }}<br class="clear"/>
{{ persoonSearchForm.dtmdatumbinnenkomstvan|generate:"fixed" }} {{ persoonSearchForm.dtmdatumbinnenkomsttot|generate }}<br class="clear"/>
{{ persoonSearchForm.dtmdatumvertrekvan|generate:"fixed" }} {{ persoonSearchForm.dtmdatumvertrektot|generate }}<br class="clear"/>
{{ persoonSearchForm.dtmdatumonttrokkenvan|generate:"fixed" }} {{ persoonSearchForm.dtmdatumonttrokkentot|generate }}<br class="clear"/>
{{ persoonSearchForm.dtmoverlijdensdatumvan|generate:"fixed" }} {{ persoonSearchForm.dtmoverlijdensdatumtot|generate }}<br class="clear"/>
<input type="button" id="btn_submit" value="Zoek"/> <input type="reset" value="Reset"/>
<br class="clear"/>
</div>

</form>

<div id="list">
<!-- Updated by updateList() -->
</div>

</div>

<script type="text/javascript">

var order_by = "";
var page = 1;

function orderBy(column) {
	// Toggle ascending/descending
	if (order_by == column) {
		// Switch to descending
		order_by = "-" + column;
	} else {
		// Otherwise ascending
		order_by = column;
	}

	// Update list with new order
	updateList();
}

function retrieveList() {
	filter = $("#searchBox").val();
	$.ajaxQueue({
		url: "/leden/?xhr&order_by="+order_by+"&page="+page,
		async: true,
		data: $("#form").serialize(),
		success: function(data) {
			$("#list").html(data)
			// write contents of the table cells to the title attribute of the td, so you can see the full contents on mouse over  
			$("#persoonListTable td").each(function() { 
				this.title = $(this).text(); 
			}); 		
		}
		});
}

function updateList() {
	$.ajaxQueue({
		url:"/leden/update?xhr",
		async:true,
		data:{
			order_by: order_by,
			page: page},
				success: function(data) {
				$("#list").html(data)
				// write contents of the table cells to the title attribute of the td, so you can see the full contents on mouse over  
				$("#persoonListTable td").each(function() { 
					this.title = $(this).text(); 
				});
			}
		});
}

function updateListPage(newPage) {
	page = newPage;
	updateList(); 
}

$(document).ready(function(){
	// Enable live filtering in search box
	$("#searchBox").keyup(retrieveList);
	
	// Enable slide on extended search form 
	$("#extended_search").click(function(){
		  $(".status").slideToggle("slow");
	});
	
	// Search button calls ajax call
	$("#btn_submit").click(function(){
		retrieveList();
	});
	
	// Enable date pickers
	$("{{persoonSearchForm.dtmgeboortedatumvan|id}}").datepicker({ dateFormat: 'dd-mm-yy' });
	$("{{persoonSearchForm.dtmgeboortedatumtot|id}}").datepicker({ dateFormat: 'dd-mm-yy' });
	$("{{persoonSearchForm.dtmdatumbinnenkomstvan|id}}").datepicker({ dateFormat: 'dd-mm-yy' });
	$("{{persoonSearchForm.dtmdatumbinnenkomsttot|id}}").datepicker({ dateFormat: 'dd-mm-yy' });
	
	retrieveList();
});

 
</script>
{% endblock %}