body,div,td,th,input,select,a {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	padding: 0px;
	margin: 0px;
}

a {
	color: #2779AA;
	text-decoration: none;
}

a:hover {
	color: #17699A;
	text-decoration: underline;
}

h2 {
	margin-bottom: 0.5em;
}

select {
	border: 1px solid #DDD;
}

label, input, select, textarea, button {
	float: left;
	margin-right: 0.3em;
}

input, textarea {
	padding: 4px 4px 3px 4px;
}

select {
	padding: 3px 3px 2px 3px;
}

label {
	padding: 4px 3px 2px 3px;
}

label input {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

th {
	font-weight: bold;
}

tr,td,img,input {
	vertical-align: middle;
}

form label.fixed {
	width: 8.0em;
}

form tr {
	clear: both;
}

form ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

form ul li {
	display: inline;
}

#login {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30em;
	margin-top: -10em; /*set to a negative number 1/2 of your height*/
	margin-left: -15em; /*set to a negative number 1/2 of your width*/
	background-color: #EEE;
	padding: 20px;
}

#login label {
	float: left;
	width: 10em;
}

#login label,#login input {
	margin: 3px;
}

span#user {
	float: right;
}

#top {
	color: #EBF4FA;
	background-color: #555;
	border-bottom: 1px solid #2779AA;
	margin: 0px;
	padding: 7px;
}

#top span {
	margin: 0px;
	font-size: 8pt;
	font-weight: bold;
}

#top a {
	color: #BBDAEE;
	font-weight: bold;
}

#top a:hover {
	text-decoration: underline;
}

#left {
	float: left;
	height: 80%;
	margin-right: 7px;
}

#main {
	height: 80%;
	/*
	float causes chrome to size the main to minimum size and 
	only renders the persoonlist table after that, reducing the 
	100% width of that table to the maximum length of any other
	item in the main div.
	float: left;*/
	padding: 12px;
}

#content.detail {
	width: 650px;
}

#bottom {
	height: 15%;
}

.form_row {
	clear: both;
	padding-top: 8px;
	padding-bottom: 6px;
	height: 1.5em;
}

.form_buttons {
	clear: both;
	margin-top: 0.5em;
}

.actions {
	margin-top: 7px;
}

.actions #search {
	float: left;
	padding-bottom: 7px;
}

.actions #searchBox {
	width: 200px;
}

.actions #buttons {
	float: right;
	margin-top: 3px;
}

#extended_search {
	margin-bottom: 1em;
	padding: 1em;
}

#buttonsContainer {
	padding: 7px 0px 7px 0px;
}

.actions #advanced_search {
	margin-top: 7px;
	padding: 12px;
	border: 1px solid #BBDAEE;
}

#persoonList {
	height: 485px;
}

#detail label {
	float: left;
	margin-right: 0.5em;
}

#detail.container {
	margin-bottom: 1em;
}

.detail_header {
	margin-top: 1em;	
}

.detail_header h2 {
	margin-top: 0px;
}

.detail_header .box span {
	float: right;
}

.box {
	border: 1px solid #dddddd;
	margin-bottom: 0.5em;
	padding: 6px;
	background-color: #f2f5f7;
	background-image: url("cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png");
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: 50% top;
	color: #362b36;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.widget {
	min-width: 48em;
	margin-right: 7px;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	float: left;
}

.form {
	padding-bottom: 1.5em;
}

.right-widget {
	width: 42em;
	min-width: 42em;
}

#loading {
	display: none;
	position: absolute;
	left: 15.5em;
	top: 0.5em;
}

#version {
	font-size: 6px;
	color: silver;
}

.menu {
	margin-bottom: 12px;
}

.menu a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 8em;
	padding: 7px;
	background-color: #62BBE8;
	border: 1px solid #DDD;
	color: White;
	margin-right: 0.1em;
}

.menu a:hover {
	color: #2779AA;
}

div.message {
	color: Red;
	margin: 3px;
}

div.small {
	font-size: x-small;
}

div.container {
	border: 1px solid #DDD;
	padding: 7px;
}

.clear {
	clear: both;
}

table.listview {
	border: 1px solid #DDD;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

table.listview tr {
	border-left: 1px solid #EFF8FE;
	border-right: 1px solid #E8EFF7;
	background-color: #EBF4FA;
}

table.listview td {
	border-top: 1px solid #F1FAFF;
	border-bottom: 1px solid #E8EFF7;
	padding: 3px 7px 3px 7px;
	text-align: left;
}

table.listview th {
	border-bottom: 1px solid #DDD;
	padding: 3px 7px 3px 7px;
	text-align: left;
}

div.pagination {
	padding: 3px 7px 3px 7px;
}

.selectContainer {
	width: 200px;
	float: left;
	overflow-x: hidden;
	border: 1px solid #DDD;
}

.selectContainer p {
	margin: 0px;
	padding: 0px;
}

.selectContainer a {
	display: block;
	padding: 3px;
	color: #2779AA;
	text-decoration: none;
	border-top: 1px solid #F1FAFF;
	border-left: 1px solid #EFF8FE;
	border-bottom: 1px solid #E8EFF7;
	border-right: 1px solid #E8EFF7;
	background-color: #EBF4FA;
}

.selectContainer a:hover {
	background-color: #F9FAFB;
}

.selectContainer a.selected {
	background-color: #F9FAFB;
}

.detailContainer {
	float: left;
}

.button {
	width: 100px;
}

p.error {
	color: Red;
}

.error input {
	border: 1px solid Red;
}

.error ul {
	list-style: none;
	color: Red;
	float: left;
	margin: 0px;
	padding: 0px;
}

.error li {
	float: left;
	margin-right: 1.0em;
	margin-left: -0.5em;
}

.ui-widget {
	font-family: Arial, sans-serif;
	font-size: 1.0em;
}

.ui-widget label.fixed {
	width: 10.0em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
	font-family: Arial,sans-serif;
	font-size: 1em;
}

.ui-tabs .ui-tabs-nav {
	margin-bottom: 7px;
}

.ui-tabs .ui-tabs-nav li a {
	padding: 0.1em 0.4em 0.1em 0.4em;
}

.ui-tabs .ui-tabs {
	margin-left: 12px;
}

.subject {
	font-size: 1.2em;
}

#certificate {
	background-color: #FFF;
	border: 1px solid #CCC;
	padding: 20px;
	margin-bottom: 1em;
	width: 50em;
}

#certificate td {
	padding: 3px;
}

#export_widget {
	display: none;
}

#export label.fixed {
	width: 6em;
}

#export p {
	margin: 0px;
	padding: 0px;
}

#extended_search label.fixed {
	width: 12em;
}

table.multiline td {
	vertical-align: top;
}
	