table#persoonListTable {
	/* set this to whatever, 100% is usually what you want. */
	width: 100%; 
	
	/* this is needed to make the table stop autosizing */
	table-layout:fixed; 
	
}
table#persoonListTable th, table#persoonListTable td {
	/* next block is required for the clipping behavior */
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align:top;
	text-align:left;
	white-space: nowrap;
	padding: 2px 5px 0px 5px;
}
table#persoonListTable th.col_surname {
	width: 12%;
}
table#persoonListTable th.col_name {
	width: 8%;
}
table#persoonListTable th.col_birth {
	width: 9%;
}
table#persoonListTable th.col_gender {
	width: 5%;
}
table#persoonListTable th.col_family {
	width: 12%;
}
table#persoonListTable th.col_family_link {
	width: 19px;
}
table#persoonListTable th.col_address {
	width: 15%;
}
table#persoonListTable th.col_zip {
	width: 7%;
}
table#persoonListTable th.col_city {
	width: 5%;
}
table#persoonListTable th.col_country {
	width: 9%;
}
table#persoonListTable th.col_phone {
	width: 9%;
}
table#persoonListTable th.col_email {
	width: 9%;
}
