{% extends "KB/main.html" %}

{% block content %}

{% load customtags %}

<div id="content" class="detail">
	<div id="export" class="accordion">
		<h3><a href="#">Ledenlijst</a></h3>
		<div>
			<p>Deze lijst bevat de gegevens van alle actieve leden.</p> 
			<form name="members" action="members" method="POST">
			<p class="clear">Type: <img src="/media/img/excel.gif/" border="0"></p>
			<input type="submit" value="Genereer"/>
			</form>
		</div>
		<h3><a href="#">Verjaardagen</a></h3>
		<div>
			<p>Deze lijst bevat alle actieve leden die in de gegeven periode jarig zijn, gegroepeerd op maand.</p>
			<form name="birthdays" action="birthdays" method="POST">
			{{ birthdays_form.date_from|generate:"fixed" }}{{ birthdays_form.date_to|generate }}<br class="clear"/>
			{{ birthdays_form.category|generate:"fixed" }}
			<p class="clear">Type: <img src="/media/img/word.gif/" border="0"></p>
			<input type="submit" value="Genereer"/>
			</form>
		</div>
		<h3><a href="#">Stemlijst</a></h3>
		<div>
			<p>De stemlijst bevat alle actieve belijdende leden, gegroepeerd op gezin.</p> 
			<p>Type: <img src="/media/img/word.gif/" border="0"></p>
			<form name="election" action="election" method="POST">
			<input type="submit" value="Genereer"/>
			</form>
		</div>
		<h3><a href="#">E-mailadressen</a></h3>
		<div>
			<p>
			Deze lijst bevat de e-mailadressen van alle actieve leden.
			</p>
			<form name="email" action="email" method="POST">
			<input type="submit" value="Genereer"/>
			</form>
		</div>
	
	</div>
</div>

<script type="text/javascript">

$(document).ready(function() {
    $("#export").accordion({ collapsible: true })
    $("#export").accordion("activate", false);    
  });

 
</script>
{% endblock %}